HOST_API=https://srland.com/api
MALL_ID=1
MALL_NAME="QUEEN CITY MALL"
DOMAIN_URL=http://localhost:3000
GOOGLE_SITE_VERIFICATION=XXXCjHNnb7kaL0b-XXXXXXORjsgMYqVdaVPF-XXXXXX
NEXT_PUBLIC_GOOGLE_ANALYTICS=G-XXXXXXXXXX
NAME_NEWS=QUINCY
NAME_LOYALTY="QC Loyalty"
NEXT_PUBLIC_NAME_LOYALTY="QC Loyalty"